!!!
%html
	%head
		%title Powered by Awesome
		%link{ :rel => "stylesheet", :type => "text/css", :media => "all", :href => "static/css/style.css" }
	%body
		%div.notawesome= content
		%div.notawesome_lm= timestamp
		%div
			%a{ :href => "browse.htm" } browse all posts

